# Llenar la cache de estos sitios web bsándose en un mapa de páginas XML.
alias cache-taberna='/home/carlos/ocp/ocp -c 3 -v=true https://tabernawp.com/sitemap-cache.xml'
alias cache-ajuar='/home/carlos/ocp/ocp -c 3 -v=true https://www.elajuardelosinfantes.com/sitemap-cache.xml'
alias cache-unaidea='/home/carlos/ocp/ocp -c 3 -v=true https://unaideaunviaje.com/page-sitemap.xml'
alias cache-unaidea-cat='/home/carlos/ocp/ocp -c 3 -v=true https://unaideaunviaje.com/category-sitemap.xml'
alias cache-clementine='/home/carlos/ocp/ocp -c 3 -v=true https://beclementine.com/sitemap-cache.xml'

# Ir al directorio home
alias h='cd ~'

# Ir al directorio home Windows
alias hw='cd /mnt/c/Users/Carlos/'

# Cual es mi IP
alias ip='curl https://api.ipify.org; echo'

# Borrar pantalla
alias c="clear"

# Unpack tar file
alias untar="tar -zxvf"

# Generate random 20 character password
alias getpass="openssl rand -base64 20"

# Sudo Screen
alias sscreen="sudo screen"

# APT update and upgrade
alias apt-update="sudo apt-get update"
alias apt-upgrade="sudo apt-get update & sudo apt-get upgrade"

# Resume wget by default
alias wget="wget -c"

# Calc with math support
alias calc="bc -l"

# Directory browsing
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias .4="cd ../../../../"
alias .5="cd ../../../../../"
