# Ir al directorio home
alias h='cd ~'

# Cual es mi IP
alias ip='curl https://api.ipify.org; echo'

# Borrar pantalla
alias c="clear"

# Unpack tar file
alias untar="tar -zxvf"

# Generate random 20 character password
alias getpass="openssl rand -base64 20"

# Sudo Screen
alias sscreen="sudo screen"

# APT update and upgrade
alias apt-update="sudo apt-get update"
alias apt-upgrade="sudo apt-get update & sudo apt-get upgrade"

# Resume wget by default
alias wget="wget -c"

# Calc with math support
alias calc="bc -l"

# Alias for NeoVim
alias neo="nvim"
alias neovim="nvim"
alias v="nvim"
alias nv="nvim"

# Alias for Bat
alias bat="batcat"

# Asciinema
alias rec="asciinema rec"

# Directory browsing
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias .4="cd ../../../../"
alias .5="cd ../../../../../"
